{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!
{% endblock %}

{% block body %}

	{# <pre>
    {{ dump(app.user.firstname) }}
    </pre> #}

	{{ form_start(form) }}

	{{form_row(form.pro)}}

	<button type="submit" class="btn btn-outline-primary">Register</button>

	{{ form_end(form) }}
{% endblock %}
