<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{# {{ encore_entry_link_tags('app') }} #}
		<!-- CSS Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
		<!-- CSS PERSO -->
		<link rel="stylesheet" href="/assets/styles.css"/> 
		{# Media Queries #}
		<link rel="stylesheet" href="/assets/media-queries.css">
		<!-- icon bootstrap -->
		<link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
		<!-- CSS Fontawesome -->
		<script src="https://kit.fontawesome.com/b58847aa60.js" crossorigin="anonymous"></script>
		{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> #}
		<!-- CSS fullcalendar -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.css">
    {% block stylesheets %}{% endblock %} 
    </head>
		<body>
			<style>
				.prestations:hover {
					color: #8E7C68;
				}
			</style>
			{% block logo %}{% endblock %}

			{% include 'navbar.html.twig' %}
			{% block body %}
			{% block footer %}{% endblock %}
			{% endblock %}
			{# {{ encore_entry_script_tags('app') }} #}
			<!-- jQuery -->
			<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
			<!-- Js Bootstrap -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
			<!-- Js fullcalendar -->
			<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.2/main.min.js"></script>
			<!-- Mon Script -->
			<script src="/assets/app.js"></script>
			{% block javascripts %}{% endblock %}
		</body>
	</html>
